* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 150px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}

canvas {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
}

.generators {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.721);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
}
