main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #215d21, #001e3d, #0f5b7f);
}

.card {
  /* background-color: rgba(0, 30, 61, 0.6); */
  backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 20px;
  width: 50%;
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

label {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px;
  width: 100%;
}

input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}
span,
label p {
  color: #0aad0a;
  margin-bottom: 10px;
}
input:focus {
  border-color: #0aad0a;
  box-shadow: 0 0 10px rgba(10, 173, 10, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}
div > p {
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
