* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav {
  text-align: center;
  color: white;
  margin: 20px 0px;
  width: 80%;
  background-color: #002355e1;
  padding: 15px;
  box-shadow: 0 0 10px #7e8ae3;
  border-radius: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  min-height: 70vh;
}

.mar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
img {
  transition: 1s;
}
.active {
  scale: 1.2;
}
