* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(80deg, #244a98 0%, #e5e7eb 100%);
}
/*general styles*/
/*general styles*/
.container {
  width: 80%;
  margin: auto;
}
.title {
  text-align: center;
}
.title h2 {
  text-align: center;
  margin: 15px 0;
  font-size: 36px;
  color: #333;
}
.title p {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}

/*general styles*/
/*general styles*/
nav {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  position: sticky;
  top: 0px;
}
nav .container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  z-index: 3;
}
nav .logo {
  font-size: 24px;
  font-weight: bold;
  color: #4f46e5;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  padding: 5px 0;
  display: inline-block;
  overflow: hidden;
}
nav ul li a::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: -100%;
  background: #4f46e5;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #4f46e5;
}

nav ul li a:hover::before {
  left: 0;
}

/** landing Styles **/
.landing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  height: 100vh;
}

.landing .landing-info {
  min-width: 300px;
  flex: 1;
}
.landing .landing-info h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #111827;
}
.landing .landing-info p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #d8dade;
}
.landing .landing-info .btn {
  padding: 15px 30px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.landing .landing-info .btn:hover {
  background: #4338ca;
}

.landing .landing-image {
  min-width: 300px;
  flex: 1;
  border-radius: 15px;
  overflow: hidden;
}
.landing .landing-image img {
  width: 100%;
}

/*services section*/

.services-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 40px 0px;
  flex-wrap: wrap;
}
.services-container .service {
  background: #f9fafb;
  padding: 30px;
  border-radius: 10px;
  text-align: start;
  min-width: 199px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.services-container .service:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Our-Process {
  background-color: #eee;
  padding: 50px 0;
}
.proc-contanier {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.proc-contanier .title {
  margin-top: 30px;
  min-width: 300px;
}
.Our-Process .cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
}
.Our-Process .cards .card-content {
  width: 300px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}
.card-info {
  padding: 20px;
  text-align: start;
}
.Our-Process .cards .card-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  max-width: 100%;
}

/*/*/

.why-us {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.why-us .title {
  margin-bottom: 50px;
}

.why-us .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.why-us .cards .card-content {
  display: flex;
  align-items: center;
  min-width: 300px;
  background-color: #eee;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.why-us .cards .card-content p {
  font-size: 16px;
  margin-top: 8px;
  color: #6b7280;
}
.star {
  color: rgb(182, 182, 111);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0px;
}
