table {
  border-collapse: collapse;
  margin: 20px 0;
  max-height: 400px;

  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container {
  max-height: 300px;
  position: relative;
  overflow-y: auto;
}
