* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: black;
}
.container {
  width: 80%;
  margin: auto;
}
nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #444;
  box-shadow: 2px 2px 50px rgba(111, 107, 107, 0.5);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.calculator {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 50px rgba(111, 107, 107, 0.5);
  border: 2px solid #444;
  margin-top: 20px;
}

.calc-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dis-container {
  width: 100%;
  height: 60px;
  font-size: 24px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #111;
  color: white;
  text-align: right;
  direction: ltr;
  position: relative;
  display: flex;
  align-items: center;
}
#display {
  position: absolute;
  left: 0;
  padding: 10px;
}

.btn {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #38ac4f;
  scale: 1.2;
}
