main {
  min-height: 100vh;
  background-color: #001F3D;

}
.nav-container {
  display: flex;
  justify-content: center;
}

.nav {
  text-align: center;
  color: white;
  margin: 20px 0px;
  width: 80%;
  background-color: #002455;
  padding: 15px;
  box-shadow: 0 0 5px #c2b7b7;
  border-radius: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  min-height: 70vh;
}

.slides-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 70vh; */
  gap: 10px;
  margin-top: 20px;
  height: 400px; /* FIXED HEIGHT */
}

.slides {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  width: 70%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.slide img {
  width: 100%;
  height: 100%;
}

.prev,
.next {
  cursor: pointer;
  color: #fff;
}

.controls {
  text-align: center;
  color: #e6e6e6;
  margin-top: 15px;
}

.controls i {
  cursor: pointer;
  margin: 0 10px;
}

i:hover {
  color: #ed985f;
  transition: 0.3s;
  transform: scale(1.2);
}
