* {
  margin: 0;
  padding: 0;
}
.clone-container {
  background-color: rgba(173, 216, 230, 0.238);
  display: flex;
  flex-wrap: nowrap;
}

.cloned {
  width: 100px;
  height: 150px;
  background-color: tomato;
}
