* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "nav nav"
    "aside-l main"
    "footer footer";
}

.nav {
  grid-area: nav;
  padding: 16px 20px;
  color: white;
  background-color: #39455d;
  font-size: 16px;
  display: flex;
  justify-content: space-between;

  button {
    background-color: #4ecdc4;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
  }
}

.aside-left {
  grid-area: aside-l;
  padding: 20px;
  color: white;
  background-color: #4ecdc4;

  li {
    margin: 10px 0px;
    background-color: #eee;
    border-radius: 10px;
    padding: 15px;
    color: black;
  }
}

.main {
  grid-area: main;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  justify-content: center;
  gap: 20px;

  .item .card-image {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  .item {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .card-info {
    padding: 15px;
    p {
      font-size: 14px;
      color: #333;
      margin-bottom: 10px;
    }
    button {
      background-color: #39455d;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      color: white;
      width: 100%;
    }
  }
}

.footer {
  grid-area: footer;
  background-color: lightcoral;
  padding: 20px;
  text-align: center;
  background-color: #39455d;
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
h2 + p {
  font-size: 14px;
  line-height: 1.5;
  color: #f0f0f0;
}
h1 {
  font-size: 24px;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "aside-l"
      "main"
      "footer";
  }
  .aside-left {
    grid-area: aside-l;
    padding: 20px;
    color: white;
    background-color: #4ecdc4;
    ul {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    li {
      margin: 10px 0px;
      background-color: #eee;
      border-radius: 10px;
      padding: 15px;
      color: black;
    }
  }
}
