.active {
  color: #00D3F3;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background-color: #00D3F3;
  border-radius: 999px;
  transition: all 0.3s ease;
}
